{% extends 'base.html.twig' %}

{% block block1 %}
    <div class="s-12 m-12 l-12" id="map"></div>
    <script>
        //marker Coordinates
        var crimeMarkersCoordinates = [];
        {% for value in viewCrimePoi %}
        var crimePosition = {
            long: {{ value.long }},
            lat: {{ value.lat }}
        };
        crimeMarkersCoordinates.push(crimePosition);
        {% endfor %}
        var fireMarkersCoordinates = [];
        {% for value in viewFirepoi %}
        var firePosition = {
            long: {{ value.long }},
            lat: {{ value.lat }}
        };
        fireMarkersCoordinates.push(firePosition);
        {% endfor %}
    </script>
{% endblock %}

{% block block2 %}
    <div class="margin" id="container2">
        <div class="s-12 m-6 l-4 margin-bottom">
            <i class="icon-fire icon2x"></i>
            <div class="[ form-group ]">
                <input type="checkbox" name="fancy-checkbox-fire" id="fancy-checkbox-fire" autocomplete="off" checked/>
                <div class="[ btn-group ]">
                    <label for="fancy-checkbox-fire" class="[ btn btn-info ]">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="fancy-checkbox-fire" class="[ btn btn-default active ]">
                        Fire Incidents
                    </label>
                </div>
            </div>
        </div>
        <div class="s-12 m-6 l-4 margin-bottom">
            <i class="icon-link icon2x"></i>
            <div class="[ form-group ]">
                <input type="checkbox" name="fancy-checkbox-crime" id="fancy-checkbox-crime" autocomplete="off"
                       checked/>
                <div class="[ btn-group ]">
                    <label for="fancy-checkbox-crime" class="[ btn btn-info ]">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="fancy-checkbox-crime" class="[ btn btn-default active ]">
                        Crime Incidents
                    </label>
                </div>
            </div>
        </div>
        <div class="s-12 m-6 l-4 margin-bottom">
            <i class="icon-globe icon2x"></i>
            <div class="[ form-group ]">
                <input type="checkbox" name="fancy-checkbox-traffic" id="fancy-checkbox-traffic" autocomplete="off"/>
                <div class="[ btn-group ]">
                    <label for="fancy-checkbox-traffic" class="[ btn btn-info ]">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="fancy-checkbox-traffic" class="[ btn btn-default active ]">
                        Traffic Details
                    </label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block mapJS %}
    <script src="{{ asset('js/map.js') }}"></script>
    <script src="{{ asset('js/traffic_btn.js') }}"></script>
    <script src="{{ asset('js/category_buttons.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAvb9PdlmutL-nm7uJSKWJIzcHnXx1JUU&callback=initMap"
            async defer></script>
{% endblock %}