{% extends 'base.html.twig' %}
{% block title %}Data Mapper | Crime Stats{% endblock %}

{% block block1 %}
    <div class="col-md-12">
        crime stats
        <div id="linechart" style="height: 400px; margin: 100px auto"></div>
        <br>
        <div id="piechart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    </div>
{% endblock %}


{% block chartJS %}
    <script src="{{ asset('js/highcharts.js') }}"></script>
    <script src="{{ asset('js/exporting.src.js') }}"></script>
    <script type="text/javascript">

        //Calculating incidents per month
        var westMidlandsMonthWhenEventHappened = [];
        var westMidlandsEventCounter = 0;
        {% for bi in viewWestMidlandsCrimePOI %}
        westMidlandsMonthWhenEventHappened[westMidlandsEventCounter] = {{ bi.month }};
        westMidlandsEventCounter++;
        {% endfor %}
        var westMidlandsEventPerMonth = monthCounter(westMidlandsMonthWhenEventHappened);

        console.log(westMidlandsMonthWhenEventHappened);
        console.log(westMidlandsEventPerMonth);

        var londonMonthWhenEventHappened = [];
        var londonEventCounter = 0;
        {% for li in viewLondonCrimePOI %}
        londonMonthWhenEventHappened[londonEventCounter] = {{ li.month }};
        londonEventCounter++;
        {% endfor %}
        var londonEventPerMonth = monthCounter(londonMonthWhenEventHappened);

        var durhamMonthWhenEventHappened = [];
        var durhamEventCounter = 0;
        {% for mi in viewDurhamCrimePOI %}
        durhamMonthWhenEventHappened[durhamEventCounter] = {{ mi.month }};
        durhamEventCounter++;
        {% endfor %}
        var durhamEventPerMonth = monthCounter(durhamMonthWhenEventHappened);

        //Creating a linechart with HighCharts
        Highcharts.chart('linechart', {
            title: {
                text: 'Crime Incidents 2016',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: https://data.police.uk/',
                x: -20
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'No. of Incidents'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' Crimes'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'West Midlands',
                data: [westMidlandsEventPerMonth[0], westMidlandsEventPerMonth[1], westMidlandsEventPerMonth[2], westMidlandsEventPerMonth[3], westMidlandsEventPerMonth[4], westMidlandsEventPerMonth[5], westMidlandsEventPerMonth[6], westMidlandsEventPerMonth[7], westMidlandsEventPerMonth[8], westMidlandsEventPerMonth[9], westMidlandsEventPerMonth[10], westMidlandsEventPerMonth[11]]
            }, {
                name: 'City of London',
                data: [londonEventPerMonth[0], londonEventPerMonth[1], londonEventPerMonth[2], londonEventPerMonth[3], londonEventPerMonth[4], londonEventPerMonth[5], londonEventPerMonth[6], londonEventPerMonth[7], londonEventPerMonth[8], londonEventPerMonth[9], londonEventPerMonth[10], londonEventPerMonth[11]]
            }, {
                name: 'Durham',
                data: [durhamEventPerMonth[0], durhamEventPerMonth[1], durhamEventPerMonth[2], durhamEventPerMonth[3], durhamEventPerMonth[4], durhamEventPerMonth[5], durhamEventPerMonth[6], durhamEventPerMonth[7], durhamEventPerMonth[8], durhamEventPerMonth[9], durhamEventPerMonth[10], durhamEventPerMonth[11]]
            }]
        });

        //Creating a piechart with HighCharts
        Highcharts.chart('piechart', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Incidents Comparison by Area, 2016-2017'
            },
            subtitle: {
                text: 'Source: https://data.police.uk/',
                x: -20
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Total of',
                colorByPoint: true,
                data: [{
                    name: 'West Midlands',
                    y: westMidlandsMonthWhenEventHappened.length
                }, {
                    name: 'City of London',
                    y: londonMonthWhenEventHappened.length,
                    selected: true
                }, {
                    name: 'Durham',
                    y: durhamMonthWhenEventHappened.length
                }]
            }]
        });

        //loops through array and counts event per month
        //e.g. if month is 1 it will add 1 in counts[0]
        //if month is 9 it will add 1 in counts[8] and so on
        function monthCounter(params) {
            var counts= new Array(12).fill(0);
            var num = 0;
            var testarray = 0;
            for (var i = 0; i < params.length; i++) {
                counts[params[i] - 1]++;
            }
            return counts;
        }


    </script>

{% endblock %}