{% extends 'base.html.twig' %}

{% block body %}
    fire stats
    <div id="linechart" style="height: 400px; margin: 100px auto"></div>
    <br>
    <div id="piechart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
{% endblock %}

{% block chartJS %}
    <script src="{{ asset('js/highcharts.js') }}"></script>
    <script src="{{ asset('js/exporting.src.js') }}"></script>
    <script type="text/javascript">

        var bmonths = [];
        var bcounter = 0;
        {% for bi in viewBrumFirePoi %}
        bmonths[bcounter] = {{ bi.month }};
        bcounter++;
        {% endfor %}
        var bmonthcounter = monthcounter(bmonths);

        var lmonths = [];
        var lcounter = 0;
        {% for li in viewLondonFirePoi %}
        lmonths[lcounter] = {{ li.month }};
        lcounter++;
        {% endfor %}
        var lmonthcounter = monthcounter(lmonths);

        var mmonths = [];
        var mcounter = 0;
        {% for mi in viewManchFirePoi %}
        mmonths[mcounter] = {{ mi.month }};
        mcounter++;
        {% endfor %}
        var mmonthcounter = monthcounter(mmonths);


        Highcharts.chart('linechart', {
            title: {
                text: 'Fire Incidents 2016 - 2017',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: Demo database',
                x: -20
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'No. of Incidents'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' Fires'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Birmingham',
                data: [bmonthcounter[0], bmonthcounter[1], bmonthcounter[2], bmonthcounter[3], bmonthcounter[4], bmonthcounter[5], bmonthcounter[6], bmonthcounter[7], bmonthcounter[8], bmonthcounter[9], bmonthcounter[10], bmonthcounter[11]]
            }, {
                name: 'London',
                data: [lmonthcounter[0], lmonthcounter[1], lmonthcounter[2], lmonthcounter[3], lmonthcounter[4], lmonthcounter[5], lmonthcounter[6], lmonthcounter[7], lmonthcounter[8], lmonthcounter[9], lmonthcounter[10], lmonthcounter[11]]
            }, {
                name: 'Manchester',
                data: [mmonthcounter[0], mmonthcounter[1], mmonthcounter[2], mmonthcounter[3], mmonthcounter[4], mmonthcounter[5], mmonthcounter[6], mmonthcounter[7], mmonthcounter[8], mmonthcounter[9], mmonthcounter[10], mmonthcounter[11]]
            }]
        });


        Highcharts.chart('piechart', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Incidents Comparison by Area, 2016-2017'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Total of',
                colorByPoint: true,
                data: [{
                    name: 'Birmingham',
                    y: bmonths.length
                }, {
                    name: 'London',
                    y: lmonths.length,
                    selected: true
                }, {
                    name: 'Manchester',
                    y: mmonths.length
                }]
            }]
        });


        function monthcounter(params) {
            var counts = new Uint8Array(12);
            var num = 0;
            for (var i = 0; i < params.length; i++) {
                num = params[i];
                counts[num - 1] = counts[num - 1] ? counts[num - 1] + 1 : 1;
            }
            return counts;
        }


    </script>

{% endblock %}