<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    <title>Data Mapper</title>

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
    <link rel='stylesheet'
          href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,latin-ext'
          type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/components.css') }}">
    <link rel="stylesheet" href="{{ asset('css/responsee.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.theme.css') }}">
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="{{ asset('css/template-style.css') }}">

    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/modernizr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/responsee.js') }}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
</head>
<body class="size-1140">
<!-- TOP NAV WITH LOGO -->
<header>
    <nav>
        <div class="line">
            <div class="top-nav">
                <div class="logo hide-l">
                    <a href="{{ path('mainpage_page') }}">Data <br/><strong>Mapper</strong></a>
                </div>
                <p class="nav-text">Custom menu text</p>
                <div class="top-nav s-12 l-5">
                    <ul class="right top-ul chevron">
                        <li><a href="{{ path('map') }}">Map</a>
                        </li>
                        <li><a href="{{ path('statistics') }}">Statistics</a>
                            <ul>
                                <li><a href="{{ path('crimestats') }}">Crime Rate</a></li>
                                <li><a href="{{ path('firestats') }}">Fire Incidents</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('general_info') }}">Heatmap</a>
                        </li>
                    </ul>
                </div>
                <ul class="s-12 l-2">
                    <li class="logo hide-s hide-m">
                        <a href="{{ path('mainpage_page') }}">Data <br/><strong>Mapper</strong></a>
                    </li>
                </ul>
                <div class="top-nav s-12 l-5">
                    <ul class="top-ul chevron">
                        <li><a href="{{ path('faq') }}">Faq</a>
                        <li><a href="{{ path('about') }}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item">
                <img src="{{ asset('images/third.jpg') }}" alt="">
                <div class="carousel-text">
                    <div class="line">
                        <div class="s-12 l-9">
                            <h2>Data mapping</h2>
                        </div>
                        <div class="s-12 l-9">
                            <p>Organisation and visual representation of data</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('images/Second.png') }}" alt="">
                <div class="carousel-text">
                    <div class="line">
                        <div class="s-12 l-9">
                            <h2>Statistical Analysis</h2>
                        </div>
                        <div class="s-12 l-9">
                            <p>Clustering based on type and frequency</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('images/heatmap.jpg') }}" alt="">
                <div class="carousel-text">
                    <div class="line">
                        <div class="s-12 l-9">
                            <h2>Heatmaps</h2>
                        </div>
                        <div class="s-12 l-9">
                            <p>Graphical representation of data</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIRST BLOCK -->
    <div id="first-block">
        <div class="line">
            <h2>Additional Features</h2>
            <p class="subtitile">Tools that improve user experience.</p>
            <div class="margin">
                <div class="s-12 m-6 l-4 margin-bottom">
                    <i class="icon-coverflow icon3x"></i>
                    <h3>Layers</h3>
                    <p>Map feature supports an extra traffic layer providing live information feedback.
                    </p>
                </div>
                <div class="s-12 m-6 l-4 margin-bottom">
                    <i class="icon-chart icon3x"></i>
                    <h3>Dashboard</h3>
                    <p>Multiple ways of analysing available data. These include linecharts, piecharts, etc.
                    </p>
                </div>
                <div class="s-12 m-6 l-4 margin-bottom">
                    <i class="icon-reorder_square icon3x"></i>
                    <h3>Heatmap</h3>
                    <p>A tool that enables comparing between location data. Users can get a brief summary with just a
                        glimpse.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- SECOND BLOCK -->
    <div id="second-block">
        <div class="line">
            <div class="margin-bottom">
                <div class="margin">
                    <article class="s-12 l-8 center">
                        <h1>Data Mapping</h1>
                        <p class="margin-bottom">A process of creating data element mappings between two distinct data
                            models. Mapping specification is valuable in data migration and integration. Migration
                            focuses on transferring data from source to a new repository, while integration focuses on
                            converting source data to an appropriate format.
                        </p>
                        <a class="button s-12 l-4 center" href="{{ path('faq') }}">Read more</a>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!-- GALLERY -->
    <div id="third-block">
        <div class="line">
            <h2>Responsive gallery</h2>
            <p class="subtitile">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            </p>
            <div class="margin">
                <div class="s-12 m-6 l-3">
                    <img src="{{ asset('images/linechart-small.png') }}" alt="alternative text">
                    <p class="subtitile">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    </p>
                </div>
                <div class="s-12 m-6 l-3">
                    <img src="{{ asset('images/heatmap-small.jpg') }}" alt="alternative text">
                    <p class="subtitile">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    </p>
                </div>
                <div class="s-12 m-6 l-3">
                    <img src="{{ asset('images/third-small.jpg') }}" alt="alternative text">
                    <p class="subtitile">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    </p>
                </div>
                <div class="s-12 m-6 l-3">
                    <img src="{{ asset('images/chart-small.jpg') }}" alt="alternative text">
                    <p class="subtitile">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="fourth-block">
        <div class="line">
            <div id="owl-demo2" class="owl-carousel owl-theme">
                <div class="item">
                    <h2>Symfony 3.0</h2>
                    <p class="s-12 m-12 l-8 center">A PHP framework, based on MVC design pattern. Contains a set of
                        Symfony is a set of reusable PHP components. A set of decoupled and reusable components on which
                        the best PHP applications are built, such as Drupal, Doctrine, phpBB, and eZ Publish.
                    </p>
                </div>
                <div class="item">
                    <h2>Highcharts</h2>
                    <p class="s-12 m-12 l-8 center">A powerful API that aids the visualisation of data. Offers
                        interactive charts for web based use.
                    </p>
                </div>
                <div class="item">
                    <h2>Bootstrap</h2>
                    <p class="s-12 m-12 l-8 center">The most popular HTML, CSS, and JS framework for developing
                        responsive, mobile first projects on the web.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FOOTER -->
<footer>
    <div class="line">
        <div class="s-12 l-6">
            <p>Copyright 2017, Aston University</p>
        </div>
        <div class="s-12 l-6">
            <p class="right">
                <a class="right" href="https://github.com/narcolic" title="Dimitrios Karakatsanis">Design
                    and coding by Dimitrios Karakatsanis</a>
            </p>
        </div>
    </div>
</footer>
<script type="text/javascript" src="{{ asset('js/owl.carousel.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("#owl-demo").owlCarousel({
            slideSpeed: 300,
            autoPlay: true,
            navigation: false,
            pagination: false,
            singleItem: true
        });
        $("#owl-demo2").owlCarousel({
            slideSpeed: 300,
            autoPlay: true,
            navigation: false,
            pagination: true,
            singleItem: true
        });
    });

</script>

{% block javascripts %}

{% endblock %}

</body>
</html>